* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(177, 147, 72);
}
/* line sapn  */
.line1{
    display: block;
    height: 3px;
    width: 20px;
    background: rgb(189, 36, 66);
}
.line2{
    display: block;
    height: 3px;
    width: 50px;
    background: rgb(189, 36, 66);
}
.line3{
    display: block;
    height: 3px;
    width: 80px;
    background: rgb(189, 36, 66);
}

/* Navbar section  */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.nav-left {
    border: 2px dotted;
    border-radius: 20%;
    background-color: rgb(231, 28, 68);
    border-color: rgb(8, 194, 107);
    margin: 10px 8px;
    box-shadow: -2px 1px 7px 6px rebeccapurple;
    cursor: pointer;
    transition: .2s;
}
.nav-left:hover{
    background-color: transparent;
    color: rgb(231, 28, 68);
}

.nav-left h3 {
    padding: 10px 8px;
}

.nav-left h3 sup {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(3, 12, 9);
}
.nav-left h3 sup:hover{
    color: #fff;
}

.nav-left span {
    color: white;
}
.nav-mid{
}
.nav-mid a{
    text-decoration: none;
    color: black;
    
    padding: 5px;
}
.nav-mid li{
    list-style: none;
    display: inline-block;
    margin-inline-start:15px;
}
.nav-mid li::after{
    content: "";
    display: block;
    margin: auto;
    width: 0;
    height: 3px;
    background: rgb(189, 59, 83);
    transition: .2s;
}
.nav-mid li:hover::after{
    width: 100%;
}
.nav-right{
    padding-right: 10px;
}
.hireBtn button{
    padding: 10px 12px;
    background-color: rgb(231, 28, 68);
    border: none;
    border-radius: 20%;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}
.hireBtn button:hover{
    background-color: transparent;
    color: rgb(231, 28, 68);
}

/* Home section  */
#home{
    height: 86vh;
}
#home::before{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    background-image: url(./images/coding-3013602_640.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: .3;
    
}
.container {
    display: flex;
    align-items: center;

}

.my-title {
    display: block;
    margin: 50px auto;
    text-align: center;
    color: #0b140c;


}
.my-title h1{
    font-size: 30px;
}
.my-title p{
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
}



/* ABOUT Section  */
#about{
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap:nowrap;
}
.me-title{
    
}
.name{
    font-size: 20px;
}
.me-info h2{
    text-align: center;
}
.me-info {
    /* text-align: center; */
    flex-basis: 50%;
}
.me-img{
    /* flex-basis: 50%; */
    align-items: center;
}
.me-img img{
    position: absolute;
    right: 0;
    top: 100vh;
    width: 300px;
    height: 300px;
    
}